.p_button {
    width 2rem
    height 0.48rem
    line-height: 0.48rem
    text-align: center
    background-color #09f
    color #ffffff
    border-radius: 0.08rem
    .iconfont {
        color #ffffff
        font-size: 0.24rem
    }
}
.p_button_add {
    height 0.72rem
    line-height 0.72rem
    width 4.2rem
    background-color #0099ff
    color #fff
    text-align center
    border-radius 0.36rem
    font-size 0.32rem
    margin 0 auto      
}